body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text-accent {
  color: #00ffc6;
}

.navbar {
  background-color: #0d1117;
  border-bottom: 1px solid #21262d;
}

.nav-link {
  color: #c9d1d9 !important;
  margin: 0 10px;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #00ffc6 !important;
}

.hero {
  min-height: 60vh;
}

.hero-box {
  width: 180px;
  height: 180px;
  border: 2px solid #00ffc6;
  margin-bottom: 20px;
}

.icons i {
  color: #00ffc6;
  font-size: 1.5rem;
  margin: 0 8px;
}

.skills-bar {
  background-color: #161b22;
  text-align: center;
}

.skills-bar span {
  color: #00ffc6;
  margin: 10px 15px;
  font-weight: 500;
}

.section-title {
  font-weight: 700;
}

.about-box {
  width: 100%;
  height: 200px;
  background: linear-gradient(135deg, #00ffc6, #0077ff);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;          
  font-size: 1.5rem;    
  font-weight: bold;
  text-decoration: none; 
  transition: all 0.3s ease; 
}

.about-box:hover,
.about-box:active {
  transform: scale(1.02);      
}


.timeline-item {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline-item .date {
  color: #00ffc6;
  font-size: 0.9rem;
}

.formation-item {
  background: #161b22;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formation-item i {
  color: #00ffc6;
  margin-right: 10px;
}

.contact-icons a {
  color: #00ffc6;
  text-decoration: none;
  margin: 10px 15px;
  display: inline-block;
  transition: all 0.3s ease;
}

.contact-icons a:hover, 
.contact-icons a:active {
  transform: scale(1.2);      
}

footer {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

.hero-box img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
}

.contact-form {
  background-color: #161b22;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 255, 198, 0.1);
}

.contact-form label {
  color: #00ffc6;
  font-weight: 500;
}

.contact-form .form-control {
  background-color: #0d1117;
  border: 1px solid #30363d;
  color: #c9d1d9;
  border-radius: 10px;
}

.contact-form .form-control:focus {
  border-color: #00ffc6;
  box-shadow: 0 0 8px rgba(0, 255, 198, 0.3);
}

.btn-accent {
  background-color: #00ffc6;
  color: #0d1117;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s;
}

.btn-accent:hover {
  background-color: #00d6a8;
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .hero-box {
    width: 140px;
    height: 140px;
  }
  .formation-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
